node-red-momodbus.json
[
    {
        "id": "1",
        "type": "tab",
        "label": "TCP Master",
        "disabled": false,
        "info": ""
    },
    {
        "id": "9",
        "type": "tab",
        "label": "TCP Client",
        "disabled": false,
        "info": ""
    },
    {
        "id": "5",
        "type": "tab",
        "label": "RTU Master",
        "disabled": false
    },
    {
        "id": "14",
        "type": "tab",
        "label": "RTU Client",
        "disabled": false,
        "info": ""
    },
    {
        "id": "2dd296bbfbe1eed7",
        "type": "tab",
        "label": "RTU Read",
        "disabled": true
    },
    {
        "id": "3",
        "type": "modbus-client",
        "z": "1",
        "name": "TCP Server",
        "clienttype": "tcp",
        "bufferCommands": true,
        "stateLogEnabled": false,
        "queueLogEnabled": false,
        "failureLogEnabled": false,
        "tcpHost": "0.0.0.0",
        "tcpPort": "10502",
        "tcpType": "DEFAULT",
        "serialPort": "/dev/ttys001",
        "serialType": "RTU",
        "serialBaudrate": "9600",
        "serialDatabits": "8",
        "serialStopbits": "1",
        "serialParity": "none",
        "serialConnectionDelay": "",
        "serialAsciiResponseStartDelimiter": "",
        "unit_id": "",
        "commandDelay": "",
        "clientTimeout": "",
        "reconnectOnTimeout": false,
        "reconnectTimeout": "",
        "parallelUnitIdsAllowed": false,
        "showErrors": false,
        "showWarnings": true,
        "showLogs": true
    },
    {
        "id": "7",
        "type": "modbus-client",
        "z": "5",
        "name": "RTU Server",
        "clienttype": "simpleser",
        "bufferCommands": true,
        "stateLogEnabled": false,
        "queueLogEnabled": false,
        "failureLogEnabled": false,
        "tcpHost": "localhost",
        "tcpPort": "10502",
        "tcpType": "DEFAULT",
        "serialPort": "/dev/ttys002",
        "serialType": "RTU",
        "serialBaudrate": "9600",
        "serialDatabits": "8",
        "serialStopbits": "1",
        "serialParity": "none",
        "serialConnectionDelay": "",
        "serialAsciiResponseStartDelimiter": "",
        "unit_id": "",
        "commandDelay": "",
        "clientTimeout": "",
        "reconnectOnTimeout": false,
        "reconnectTimeout": "",
        "parallelUnitIdsAllowed": false,
        "showErrors": false,
        "showWarnings": true,
        "showLogs": true
    },
    {
        "id": "12",
        "type": "modbus-client",
        "z": "9",
        "name": "TCP Server",
        "clienttype": "tcp",
        "bufferCommands": true,
        "stateLogEnabled": false,
        "queueLogEnabled": false,
        "failureLogEnabled": false,
        "tcpHost": "0.0.0.0",
        "tcpPort": "10502",
        "tcpType": "DEFAULT",
        "serialPort": "/dev/ttys001",
        "serialType": "RTU",
        "serialBaudrate": "9600",
        "serialDatabits": "8",
        "serialStopbits": "1",
        "serialParity": "none",
        "serialConnectionDelay": "",
        "serialAsciiResponseStartDelimiter": "",
        "unit_id": "",
        "commandDelay": "",
        "clientTimeout": "",
        "reconnectOnTimeout": false,
        "reconnectTimeout": "",
        "parallelUnitIdsAllowed": false,
        "showErrors": false,
        "showWarnings": true,
        "showLogs": true
    },
    {
        "id": "17",
        "type": "modbus-client",
        "z": "14",
        "name": "RTU Server",
        "clienttype": "simpleser",
        "bufferCommands": true,
        "stateLogEnabled": false,
        "queueLogEnabled": false,
        "failureLogEnabled": false,
        "tcpHost": "localhost",
        "tcpPort": "10502",
        "tcpType": "DEFAULT",
        "serialPort": "/dev/ttys002",
        "serialType": "RTU",
        "serialBaudrate": "9600",
        "serialDatabits": "8",
        "serialStopbits": "1",
        "serialParity": "none",
        "serialConnectionDelay": "",
        "serialAsciiResponseStartDelimiter": "",
        "unit_id": "",
        "commandDelay": "",
        "clientTimeout": "",
        "reconnectOnTimeout": false,
        "reconnectTimeout": "",
        "parallelUnitIdsAllowed": false,
        "showErrors": false,
        "showWarnings": true,
        "showLogs": true
    },
    {
        "id": "48d985aca3f22128",
        "type": "modbustcp-server",
        "name": "192.168.0.15",
        "host": "192.168.0.15",
        "port": "502",
        "unit_id": "1",
        "reconnecttimeout": ""
    },
    {
        "id": "modbus-server",
        "type": "modbus-client",
        "name": "Modbus Server",
        "clienttype": "tcp",
        "tcpHost": "127.0.0.1",
        "tcpPort": "10502",
        "tcpType": "DEFAULT",
        "serialPort": "/dev/ttys001",
        "serialType": "RTU",
        "serialDatabits": "8",
        "serialStopbits": "1",
        "serialParity": "none"
    },
    {
        "id": "559d6129d5705380",
        "type": "modbustcp-server",
        "name": "127.0.0.1",
        "host": "127.0.0.1",
        "port": "10502",
        "unit_id": 1,
        "reconnecttimeout": ""
    },
    {
        "id": "d4b8dab529df3d8a",
        "type": "modbus-client",
        "name": "",
        "clienttype": "simpleser",
        "bufferCommands": true,
        "stateLogEnabled": false,
        "queueLogEnabled": false,
        "failureLogEnabled": true,
        "tcpHost": "127.0.0.1",
        "tcpPort": 502,
        "tcpType": "DEFAULT",
        "serialPort": "/dev/ttys009",
        "serialType": "RTU",
        "serialBaudrate": 9600,
        "serialDatabits": 8,
        "serialStopbits": 1,
        "serialParity": "none",
        "serialConnectionDelay": 100,
        "serialAsciiResponseStartDelimiter": "0x3A",
        "unit_id": 1,
        "commandDelay": 1,
        "clientTimeout": 1000,
        "reconnectOnTimeout": true,
        "reconnectTimeout": 2000,
        "parallelUnitIdsAllowed": true,
        "showErrors": false,
        "showWarnings": true,
        "showLogs": true
    },
    {
        "id": "63a25cb6a8b3c0c3",
        "type": "ui_tab",
        "name": "Home",
        "icon": "dashboard",
        "disabled": false,
        "hidden": false
    },
    {
        "id": "fad07872e550dc18",
        "type": "ui_base",
        "theme": {
            "name": "theme-light",
            "lightTheme": {
                "default": "#0094CE",
                "baseColor": "#0094CE",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif",
                "edited": false
            },
            "darkTheme": {
                "default": "#097479",
                "baseColor": "#097479",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif",
                "edited": false
            },
            "customTheme": {
                "name": "Untitled Theme 1",
                "default": "#4B7930",
                "baseColor": "#4B7930",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"
            },
            "themeState": {
                "base-color": {
                    "default": "#0094CE",
                    "value": "#0094CE",
                    "edited": false
                },
                "page-titlebar-backgroundColor": {
                    "value": "#0094CE",
                    "edited": false
                },
                "page-backgroundColor": {
                    "value": "#fafafa",
                    "edited": false
                },
                "page-sidebar-backgroundColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "group-textColor": {
                    "value": "#1bbfff",
                    "edited": false
                },
                "group-borderColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "group-backgroundColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "widget-textColor": {
                    "value": "#111111",
                    "edited": false
                },
                "widget-backgroundColor": {
                    "value": "#0094ce",
                    "edited": false
                },
                "widget-borderColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "base-font": {
                    "value": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"
                }
            },
            "angularTheme": {
                "primary": "indigo",
                "accents": "blue",
                "warn": "red",
                "background": "grey",
                "palette": "light"
            }
        },
        "site": {
            "name": "Node-RED Dashboard",
            "hideToolbar": "false",
            "allowSwipe": "false",
            "lockMenu": "false",
            "allowTempTheme": "true",
            "dateFormat": "DD/MM/YYYY",
            "sizes": {
                "sx": 48,
                "sy": 48,
                "gx": 6,
                "gy": 6,
                "cx": 6,
                "cy": 6,
                "px": 0,
                "py": 0
            }
        }
    },
    {
        "id": "5fde18492876775c",
        "type": "ui_group",
        "name": "Default",
        "tab": "63a25cb6a8b3c0c3",
        "order": 1,
        "disp": true,
        "width": 6,
        "collapse": false,
        "className": ""
    },
    {
        "id": "4bf8cd14f2ac0781",
        "type": "modbus-client",
        "z": "2dd296bbfbe1eed7",
        "name": "RTU Server",
        "clienttype": "serial",
        "bufferCommands": true,
        "stateLogEnabled": false,
        "queueLogEnabled": false,
        "failureLogEnabled": false,
        "tcpHost": "localhost",
        "tcpPort": "10502",
        "tcpType": "DEFAULT",
        "serialPort": "/dev/ttys003",
        "serialType": "RTU",
        "serialBaudrate": "9600",
        "serialDatabits": "8",
        "serialStopbits": "1",
        "serialParity": "none",
        "serialConnectionDelay": "",
        "serialAsciiResponseStartDelimiter": "",
        "unit_id": "",
        "commandDelay": "",
        "clientTimeout": "",
        "reconnectOnTimeout": false,
        "reconnectTimeout": "",
        "parallelUnitIdsAllowed": false,
        "showErrors": false,
        "showWarnings": true,
        "showLogs": true
    },
    {
        "id": "2",
        "type": "modbus-read",
        "z": "1",
        "name": "Read Holding Registers",
        "topic": "",
        "showStatusActivities": false,
        "logIOActivities": false,
        "showErrors": false,
        "showWarnings": true,
        "unitid": 1,
        "dataType": "HoldingRegister",
        "adr": 1,
        "quantity": 5,
        "rate": "1000",
        "rateUnit": "ms",
        "delayOnStart": false,
        "startDelayTime": "",
        "server": "3",
        "useIOFile": false,
        "ioFile": "",
        "useIOForPayload": false,
        "emptyMsgOnFail": false,
        "x": 260,
        "y": 40,
        "wires": [
            [
                "4"
            ],
            []
        ]
    },
    {
        "id": "4",
        "type": "debug",
        "z": "1",
        "name": "TCP Master Debug Output",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 520,
        "y": 40,
        "wires": []
    },
    {
        "id": "10",
        "type": "inject",
        "z": "9",
        "name": "Trigger Write",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "[10, 20, 30, 40, 50]",
        "payloadType": "json",
        "x": 140,
        "y": 140,
        "wires": [
            [
                "11"
            ]
        ]
    },
    {
        "id": "11",
        "type": "modbus-write",
        "z": "9",
        "name": "Write Registers",
        "showStatusActivities": false,
        "showErrors": false,
        "showWarnings": true,
        "unitid": 1,
        "dataType": "HoldingRegister",
        "adr": 1,
        "quantity": "1",
        "server": "12",
        "emptyMsgOnFail": false,
        "keepMsgProperties": false,
        "delayOnStart": false,
        "startDelayTime": "",
        "x": 300,
        "y": 140,
        "wires": [
            [
                "13"
            ],
            []
        ]
    },
    {
        "id": "13",
        "type": "debug",
        "z": "9",
        "name": "TCP Client Debug ",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 470,
        "y": 140,
        "wires": []
    },
    {
        "id": "6",
        "type": "modbus-read",
        "z": "5",
        "d": true,
        "name": "Read Holding Registers",
        "topic": "",
        "showStatusActivities": false,
        "logIOActivities": false,
        "showErrors": false,
        "showWarnings": true,
        "unitid": 1,
        "dataType": "HoldingRegister",
        "adr": 1,
        "quantity": "3",
        "rate": "1006",
        "rateUnit": "ms",
        "delayOnStart": false,
        "startDelayTime": "",
        "server": "7",
        "useIOFile": false,
        "ioFile": "",
        "useIOForPayload": false,
        "emptyMsgOnFail": false,
        "x": 240,
        "y": 60,
        "wires": [
            [
                "8"
            ],
            []
        ]
    },
    {
        "id": "8",
        "type": "debug",
        "z": "5",
        "name": "RTU Master Debug Output",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 500,
        "y": 60,
        "wires": []
    },
    {
        "id": "4d841a9cde7d06d5",
        "type": "inject",
        "z": "5",
        "name": "Trigger Read",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 190,
        "y": 420,
        "wires": [
            []
        ]
    },
    {
        "id": "15",
        "type": "inject",
        "z": "14",
        "name": "Trigger Write",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "[10, 20, 30, 40, 50]",
        "payloadType": "json",
        "x": 150,
        "y": 80,
        "wires": [
            [
                "16"
            ]
        ]
    },
    {
        "id": "16",
        "type": "modbus-write",
        "z": "14",
        "name": "Write Registers",
        "showStatusActivities": false,
        "showErrors": false,
        "showWarnings": true,
        "unitid": 1,
        "dataType": "HoldingRegister",
        "adr": 1,
        "quantity": "1",
        "server": "17",
        "emptyMsgOnFail": false,
        "keepMsgProperties": false,
        "delayOnStart": false,
        "startDelayTime": "",
        "x": 300,
        "y": 80,
        "wires": [
            [
                "18"
            ],
            []
        ]
    },
    {
        "id": "18",
        "type": "debug",
        "z": "14",
        "name": "RTU Client Debug Output",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 490,
        "y": 80,
        "wires": []
    },
    {
        "id": "4342d417c81039e8",
        "type": "modbus-read",
        "z": "14",
        "d": true,
        "name": "Read Registers",
        "topic": "",
        "showStatusActivities": false,
        "logIOActivities": false,
        "showErrors": false,
        "showWarnings": true,
        "unitid": 1,
        "dataType": "HoldingRegister",
        "adr": 1,
        "quantity": 5,
        "rate": "5",
        "rateUnit": "s",
        "delayOnStart": false,
        "startDelayTime": "",
        "server": "17",
        "useIOFile": false,
        "ioFile": "",
        "useIOForPayload": false,
        "emptyMsgOnFail": false,
        "x": 180,
        "y": 300,
        "wires": [
            [
                "654c785a5a539913"
            ],
            []
        ]
    },
    {
        "id": "654c785a5a539913",
        "type": "debug",
        "z": "14",
        "name": "RTU Read Output",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 480,
        "y": 300,
        "wires": []
    },
    {
        "id": "54616bf5a5e98e3f",
        "type": "inject",
        "z": "2dd296bbfbe1eed7",
        "name": "Trigger Read",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 130,
        "y": 240,
        "wires": [
            []
        ]
    },
    {
        "id": "ed66fa49ea45930e",
        "type": "modbus-read",
        "z": "2dd296bbfbe1eed7",
        "name": "Read Registers",
        "topic": "",
        "showStatusActivities": false,
        "logIOActivities": false,
        "showErrors": false,
        "showWarnings": true,
        "unitid": 1,
        "dataType": "HoldingRegister",
        "adr": 1,
        "quantity": 5,
        "rate": 1,
        "rateUnit": "s",
        "delayOnStart": false,
        "startDelayTime": "",
        "server": "4bf8cd14f2ac0781",
        "useIOFile": false,
        "ioFile": "",
        "useIOForPayload": false,
        "emptyMsgOnFail": false,
        "x": 180,
        "y": 100,
        "wires": [
            [
                "3754326f8dbfaabe"
            ],
            []
        ]
    },
    {
        "id": "3754326f8dbfaabe",
        "type": "debug",
        "z": "2dd296bbfbe1eed7",
        "name": "RTU Read Output",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 480,
        "y": 100,
        "wires": []
    }
]
